<div class="kf" *ngIf="state$ | async as state">
  <form
    [formGroup]="state.form"
    [frFormCache]="state.form"
    cacheKey="KnieFell"
    (cacheValueLoaded)="setCachedValue($event)"
    #formCache="frFormCache"
    (ngSubmit)="submit(state)"
  >
    <div class="kf-container">
      <label class="kf-label" style="grid-area: label-name">Name</label>
      <input type="text" style="grid-area: input-name" formControlName="name" />

      <label class="kf-label" style="grid-area: label-anzahl"
        >Anzahl Spiele</label
      >
      <div style="grid-area: input-anzahl">
        <button
          type="button"
          [disabled]="state.disableRemoveSpiel"
          (click)="removeSpiel(state.form)"
        >
          -
        </button>
        <button
          type="button"
          [disabled]="state.disableAddSpiel"
          (click)="addSpiel(state.form)"
        >
          +
        </button>
      </div>

      <ng-container
        *ngFor="
          let spiel of state.spiele;
          let spielIndex = index;
          let firstSpiel = first;
          trackBy: trackSpiel
        "
      >
        <kf-spiel
          [style]="'grid-area: spiel-' + spiel.spielNummer"
          [state]="spiel"
          [showLabels]="firstSpiel"
        ></kf-spiel>
      </ng-container>

      <label class="kf-label" style="grid-area: label-gesamt">
        Gesamtsumme
      </label>
      <span class="kf-input" style="grid-area: gesamt">
        {{ state.gesamtSpiele }}
      </span>
    </div>
    <div>
      <button type="submit">speichern</button>
      <button type="button" (click)="reset(formCache)">alles löschen</button>
    </div>
  </form>
</div>
