<ng-container *ngIf="state" [formGroup]="state.form">
  <div>
    <label *ngIf="showLabels" class="kf-label">Einser</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiEinser"
      formControlName="einser"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Zweier</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiZweier"
      formControlName="zweier"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Dreier</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiDreier"
      formControlName="dreier"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Vierer</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiVierer"
      formControlName="vierer"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Fünfer</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiFuenfer"
      formControlName="fuenfer"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Sechser</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiSechser"
      formControlName="sechser"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Gesamt</label>
    <span class="kf-column kf-field-value">{{ state.gesamt }}</span>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Bonus</label>
    <span class="kf-column kf-field-value">{{ state.bonus }}</span>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Gesamt oben</label>
    <span class="kf-column kf-field-value">{{ state.gesamtObererBlock }}</span>
  </div>
</ng-container>
