<div
  class="kf"
  [class]="'kf-spiel-container--labels-' + (showLabels ? 'on' : 'off')"
  *ngIf="state"
  [formGroup]="state.form"
>
  <div *ngIf="showLabels" class="kf-label kf-spiel__empty"></div>
  <label class="kf-label kf-spiel__label-nummer">
    Spiel {{ state.spielNummer }}
  </label>

  <kf-oberer-block
    class="kf-spiel__oberer-block"
    [state]="state.obererBlock"
    [showLabels]="showLabels"
  ></kf-oberer-block>

  <kf-unterer-block
    class="kf-spiel__unterer-block"
    [state]="state.untererBlock"
    [showLabels]="showLabels"
  ></kf-unterer-block>

  <label *ngIf="showLabels" class="kf-label kf-spiel__label-gesamt-oben">
    Gesamt oben
  </label>
  <span class="kf-input kf-spiel__input-gesamt-oben">
    {{ state.obererBlock.gesamtObererBlock }}
  </span>

  <label *ngIf="showLabels" class="kf-label kf-spiel__label-spiel-gesamt">
    Summe Spiel
  </label>
  <span class="kf-input kf-spiel__input-spiel-gesamt">
    {{ state.summeGesamt }}
  </span>
</div>
