<ng-container *ngIf="state" [formGroup]="state.form">
  <div class="kf-label" *ngIf="showLabels"></div>
  <div class="kf-column">Spiel {{ state.nummer }}</div>
  <kf-oberer-block
    [state]="state.obererBlock"
    [showLabels]="showLabels"
  ></kf-oberer-block>
  <kf-unterer-block
    [state]="state.untererBlock"
    [showLabels]="showLabels"
  ></kf-unterer-block>
  <div>
    <label *ngIf="showLabels" class="kf-label">Gesamt oben</label>
    <span class="kf-column kf-field-value">{{
      state.obererBlock.gesamtObererBlock
    }}</span>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Gesamtsumme</label>
    <span class="kf-column kf-field-value">{{ state.summeGesamt }}</span>
  </div>
</ng-container>
