.kf {
  --color: cornflowerblue;
  --label-width: 100px;
  --input-width: 50px;
  --line-height: 20px;
}

.kf-container {
  display: grid;
  grid-template-columns: var(--label-width) repeat(6, var(--input-width));
  grid-template-rows: repeat(2, var(--line-height)) auto var(--line-height);
  grid-template-areas:
    'label-name   input-name   input-name input-name .       .       .'
    'label-anzahl input-anzahl .          .          .       .       .'
    'spiel-1      spiel-1      spiel-2    spiel-3    spiel-4 spiel-5 spiel-6'
    'label-gesamt gesamt       .          .          .       .       .';
}

.kf-spiel-labels-on {
  display: grid;
  grid-template-columns: var(--label-width) var(--input-width);
  grid-template-rows: var(--line-height) auto auto repeat(2, var(--line-height));
  grid-template-areas:
    '. label-spiel'
    'oberer-block oberer-block'
    'unterer-block unterer-block'
    'label-gesamt-oben gesamt-oben'
    'label-spiel-gesamt spiel-gesamt';
}

.kf-spiel-labels-off {
  display: grid;
  grid-template-columns: var(--input-width);
  grid-template-rows: var(--line-height) auto auto repeat(2, var(--line-height));
  grid-template-areas:
    'label-spiel'
    'oberer-block'
    'unterer-block'
    'gesamt-oben'
    'spiel-gesamt';
}

.kf-oberer-block-labels-on {
  display: grid;
  grid-template-columns: var(--label-width) var(--input-width);
  grid-template-rows: repeat(9, var(--line-height));
  grid-template-areas:
    'label-einser input-einser'
    'label-zweier input-zweier'
    'label-dreier input-dreier'
    'label-vierer input-vierer'
    'label-fuenfer input-fuenfer'
    'label-sechser input-sechser'
    'label-oben-gesamt oben-gesamt'
    'label-oben-bonus oben-bonus'
    'label-oben-total oben-total';
}

.kf-oberer-block-labels-off {
  display: grid;
  grid-template-columns: var(--input-width);
  grid-template-rows: repeat(9, var(--line-height));
  grid-template-areas:
    'input-einser'
    'input-zweier'
    'input-dreier'
    'input-vierer'
    'input-fuenfer'
    'input-sechser'
    'oben-gesamt'
    'oben-bonus'
    'oben-total';
}

.kf-unterer-block-labels-on {
  display: grid;
  grid-template-columns: var(--label-width) var(--input-width);
  grid-template-rows: repeat(8, var(--line-height));
  grid-template-areas:
    'label-3pasch input-3pasch'
    'label-4pasch input-4pasch'
    'label-fullhouse input-fullhouse'
    'label-klstrasse input-klstrasse'
    'label-grstrasse input-grstrasse'
    'label-kniefell input-kniefell'
    'label-chance input-chance'
    'label-unten-gesamt unten-gesamt';
}

.kf-unterer-block-labels-off {
  display: grid;
  grid-template-columns: var(--input-width);
  grid-template-rows: repeat(8, var(--line-height));
  grid-template-areas:
    'input-3pasch'
    'input-4pasch'
    'input-fullhouse'
    'input-klstrasse'
    'input-grstrasse'
    'input-kniefell'
    'input-chance'
    'unten-gesamt';
}

.kf input::-webkit-outer-spin-button,
.kf input::-webkit-inner-spin-button {
  display: none;
}

.kf .ng-invalid {
  border-color: red;
}

.kf .kf-label {
  color: var(--color);
}

.kf .kf-input {
  text-align: right;
}
