<ng-container *ngIf="state" [formGroup]="state.form">
  <div>
    <label *ngIf="showLabels" class="kf-label">Dreierpasch</label>
    <input
      class="kf-column kf-field-value"
      type="number"
      step="1"
      formControlName="dreierpasch"
    />
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Viererpasch</label>
    <input
      class="kf-column kf-field-value"
      type="number"
      step="1"
      formControlName="viererpasch"
    />
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Full House</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiFullHouse"
      formControlName="fullHouse"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">kleine Straße</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiKleineStrasse"
      formControlName="kleineStrasse"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">große Straße</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiGrosseStrasse"
      formControlName="grosseStrasse"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Knie-Fell</label>
    <kf-select
      class="kf-column kf-field-value"
      [werte]="erlaubtBeiKnieFell"
      formControlName="knieFell"
    ></kf-select>
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Chance</label>
    <input
      class="kf-column kf-field-value"
      type="number"
      step="1"
      formControlName="chance"
    />
  </div>
  <div>
    <label *ngIf="showLabels" class="kf-label">Gesamt unten</label>
    <span class="kf-column kf-field-value">{{ state.gesamtUntererBlock }}</span>
  </div>
</ng-container>
