.kf {
  --color: cornflowerblue;
  --invalid-color: red;
  --line-height: 1.5em;
  --padding: 0.3ch;
  --desktop-input-width: 7ch;
  --desktop-label-width: 14ch;
  --mobile-input-width: 1fr;
  --mobile-label-width: 2fr;
  font-family: Arial, Helvetica, sans-serif;
}

.kf-form-container {
  --label-width: var(--mobile-label-width);
  --input-width: var(--mobile-input-width);
}

@media (min-width: 62ch) and (pointer: fine),
  (min-width: 62ch) and (pointer: none) {
  .kf-form-container {
    --label-width: var(--desktop-label-width);
    --input-width: var(--desktop-input-width);
  }
}

.kf input::-webkit-outer-spin-button,
.kf input::-webkit-inner-spin-button {
  display: none;
}

.kf .kf-button {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.kf .kf-label {
  color: var(--color);
  outline: 1px solid var(--color);
  padding: var(--padding);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.kf .kf-input {
  width: calc(100% - 2 * var(--padding));
  margin: 0;
  padding: 0;
  border: 0;
  padding: var(--padding);
  text-align: end;
  outline: 1px solid var(--color);
  background-color: transparent;
}

.kf input[type='text'].kf-input {
  text-align: start;
}

.kf .kf-input.kf-input--read-only {
  color: var(--color);
}

.kf .kf-input.ng-invalid {
  color: var(--invalid-color);
  outline: 1px solid var(--invalid-color);
}
