<div
  class="kf"
  [class]="'kf-oberer-block-container--labels-' + (showLabels ? 'on' : 'off')"
  *ngIf="state"
  [formGroup]="state.form"
>
  <ng-container *ngIf="showLabels">
    <label class="kf-label kf-oberer-block__label-einser">Einser</label>
    <label class="kf-label kf-oberer-block__label-zweier">Zweier</label>
    <label class="kf-label kf-oberer-block__label-dreier">Dreier</label>
    <label class="kf-label kf-oberer-block__label-vierer">Vierer</label>
    <label class="kf-label kf-oberer-block__label-fuenfer">Fünfer</label>
    <label class="kf-label kf-oberer-block__label-sechser">Sechser</label>
    <label class="kf-label kf-oberer-block__label-oben-gesamt">Gesamt</label>
    <label class="kf-label kf-oberer-block__label-oben-bonus">Bonus</label>
    <label class="kf-label kf-oberer-block__label-oben-total">
      Gesamt oben
    </label>
  </ng-container>

  <kf-select
    class="kf-input kf-oberer-block__input-einser"
    [werte]="erlaubtBeiEinser"
    formControlName="einser"
  ></kf-select>
  <kf-select
    class="kf-input"
    [werte]="erlaubtBeiZweier"
    formControlName="zweier"
  ></kf-select>
  <kf-select
    class="kf-input kf-oberer-block__input-dreier"
    [werte]="erlaubtBeiDreier"
    formControlName="dreier"
  ></kf-select>
  <kf-select
    class="kf-input kf-oberer-block__input-vierer"
    [werte]="erlaubtBeiVierer"
    formControlName="vierer"
  ></kf-select>
  <kf-select
    class="kf-input kf-oberer-block__input-fuenfer"
    [werte]="erlaubtBeiFuenfer"
    formControlName="fuenfer"
  ></kf-select>
  <kf-select
    class="kf-input kf-oberer-block__input-sechser"
    [werte]="erlaubtBeiSechser"
    formControlName="sechser"
  ></kf-select>
  <span class="kf-input kf-input--read-only kf-oberer-block__input-oben-gesamt">
    {{ state.gesamt }}
  </span>
  <span class="kf-input kf-input--read-only kf-oberer-block__input-oben-bonus">
    {{ state.bonus }}
  </span>
  <span class="kf-input kf-input--read-only kf-oberer-block__input-oben-total">
    {{ state.gesamtObererBlock }}
  </span>
</div>
